extends layout

block content
    script.

           $(document).ready(function () {
            $("#grid-basic").bootgrid();
           });

    h1(style="text-align: center;color: #235580") Dashboard
    form.login-form.form-horizontal(name="report",method='post',action="/report", role='form',id=report)
        
        
        - var c=0
           div(class="alt_page_navigation")
           br
           ol(class="alt_content")
              table(border="5",id="grid-basic" class="table table-condensed table-hover table-striped")
                thead
                    tr
                      th
                        p Username
                      th
                        p Manager
                      th
                        p Scores
                      th
                        p Attempts
                      th
                        p Technology
                tbody
                  each ques, i in report
                    tr


                        td

                          
                          a=ques.Resource_Mail_Id

                        td

                          a=ques.manager_Mail_Id

                        td
                          
                          
                          a=ques.Score
                        td
                          
                          
                          a=ques.Attempts.length
                        td
                          
                          
                          a=ques.Technology